include COPYING CHANGES
include doc/README
include mof/LMI_BasicExecutionServiceCondor.mof
include mof/LMI_BasicExecutionServiceCondorFactory.reg
include mof/LMI_BasicExecutionServiceCondorManagement.reg
include test/condorCollector.wsdl test/condorSchedd.wsdl
include tools/register.sh tools/get-code-skeleton.py
